/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
   height: 100%;
   font-size: 15px;
 }

#wrap {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

#contents {
  padding-bottom: 60px;
}

.navbar {
  background-color: rgb(68, 145, 215);
  padding: 0.7rem 0;
}

.navbar .navbar-brand {
  font-size: 2rem;
  color: #fff;
}

.panel {
  margin: 4rem 6rem;
}

.panel-heading{
  padding: 0.8rem 2rem;
  color: rgb(68, 145, 215);
  border: 1px rgb(189, 189, 189) solid;
}

.panel-body {
  border: 1px rgb(189, 189, 189) solid;
  border-top: none;
}

.panel-body .line_height {
  line-height: 1.8rem;
}

.panel-body .line_height .label {
  font-size: 12px;
  padding: 0.15rem 0.4rem;
  letter-spacing: 0.03rem;
}

.form_horizontal {
  margin-top: 6rem;
}

.form_horizontal .form-group {
  padding-bottom: 3rem;
}

.form_horizontal .form-group .control-label {
text-align: right;
font-size: 14px;
letter-spacing: 0.1rem;
}

.form_horizontal .sub_btn{
  margin-top: 6.5rem;
}

.form_horizontal .sub_btn .btn{
  letter-spacing: 0.1rem;
}

.alert-danger {
  margin: 0 6rem 2rem 6rem;
}

.alert-info {
  margin: 2rem 6rem 0 6rem;
}

footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #e7e7e7;
  background-color: rgb(68, 145, 215);
  text-align: center;
}

.copyright {
  padding: 20px 0;
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.05rem;
}



@media (max-width: 768px) {
  body{
    font-size: 14px;
  }

  .panel {
    margin: 1.5rem;
  }

  .form_horizontal {
    margin-top: 5rem;
  }

  .form_horizontal .form-group {
    margin: 1.5rem;
    padding-bottom: 1rem;
  }

  .form_horizontal .sub_btn {
    margin-top: 1.5rem;
    text-align: right;
  }

}
