<!DOCTYPE html>
<html>
<head>
  <title>MessageBoard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Message Board</a>
        </div>
      </div>
    </nav> <!-- navbar navbar-default -->

    <div class="container" id="contents">
      <div class="row">
      <%= yield %>
      </div>
    </div><!-- container-->

    <footer>
      <div class="copyright">Message Board</div>
    </footer>

  </div> <!--  #wrap -->
</body>
</html>
